.primaryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lora-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  background: transparent;
  color: #fbfaf8;
  box-shadow: 0px 20px 45px 0px #21222740;
  border-radius: 10px;
  padding: 10px 15px;
  outline: none !important;
  border: 1px solid #fbfaf8;
  transition: 0.3s all ease-in;

  &:hover {
    border: 1px solid #23e70a;
    color: #23e70a;
  }

  &:active {
    color: #fbfaf8;
    border: 1px solid #fbfaf8;
  }

  &:disabled{
    border: 1px solid #cccccc82;
    background-color: #cccccc82;
    color: #3f3f3f;
  }
}
