.additionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lora-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  background: transparent;
  color: #fbfaf8;
  box-shadow: 0px 20px 45px 0px #21222740;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none !important;
  border: 1px solid #fbfaf8;
  transition: 0.3s all ease-in;
  position: relative;

  &:hover {
    border: 1px solid #23e70a;
    color: #23e70a;
  }

  &:active {
    color: #fbfaf8;
    border: 1px solid #fbfaf8;
  }

  &:disabled {
    border: 1px solid #cccccc82;
    background-color: #cccccc82;
    color: #3f3f3f;
  }

  &.loading {
    pointer-events: none; // блокируем клики
    color: #cccccc;
    gap: 8px;

    .spinner {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-top-color: #fff;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
    }
  }
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .additionButton {
    font-size: 15px;
    padding: 8px 12px;
    min-height: 30px;
  }
}

@media (max-width: 480px) {
  .additionButton {
    font-size: 14px;
    padding: 12.5px 10px;
    min-height: 10px;
  }
}

@media (min-width: 1600px) {
  .additionButton {
    font-size: 18px;
    padding: 14px 20px;
    min-height: 36px;
  }
}

/* Анимация спиннера */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
