.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 0 100px;

  h1 {
    font-family: "Lora-Regular";
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #fbfaf8;
    margin: 0;
    padding: 0;
  }

  p {
    font-family: "Lora-Regular";
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
    color: #fbfaf8;
  }

  section {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

/* Адаптивные стили */

@media (max-width: 768px) {
  .mainContainer {
    padding: 0 10px;
    align-items: center;
    margin: 30px 0 60px; /* Уменьшаем отступы */
    gap: 20px; /* Уменьшаем отступ между элементами */

    h1 {
      text-align: center;
      font-size: 40px; /* Уменьшаем размер заголовка */
      line-height: 48px; /* Уменьшаем высоту строки заголовка */
    }

    p {
      text-align: justify;
      font-size: 16px; /* Уменьшаем размер параграфа */
      line-height: 19.2px; /* Уменьшаем высоту строки параграфа */
    }

    section {
      width: 100%;
      flex-direction: row; /* Изменяем направление секции на колонку */
      gap: 15px; /* Уменьшаем отступ между элементами секции */

      button {
        flex: 1;
      }
    }
  }
}

@media (max-width: 480px) {
  .mainContainer {
    margin: 20px 0 40px; /* Еще уменьшаем отступы */
    gap: 15px; /* Еще уменьшаем отступ между элементами */

    h1 {
      font-size: 20px; /* Еще уменьшаем размер заголовка */
      line-height: 25px; /* Еще уменьшаем высоту строки заголовка */
    }

    p {
      font-size: 12px; /* Еще уменьшаем размер параграфа */
      line-height: 16.8px; /* Еще уменьшаем высоту строки параграфа */
    }
  }
}
