.headerContainer {
  // width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 5px;
  gap: 10px;
  user-select: none;
  border-bottom: 1px solid #5b5d63;

  img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  h5 {
    font-family: "Lora-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    flex: 1;
    color: #fbfaf8;
    margin: 0;
    padding: 0;
  }

  aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-family: "Lora-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #fbfaf8;

    span {
      font-size: 20px;
    }

    p {
      display: flex;
      align-items: center;
      cursor: default;
      gap: 15px;
      margin: 0;
      padding: 0;

      svg {
        width: 25px;
        height: 25px;
        cursor: default;
      }
    }
  }

  /* Адаптивные стили */
  @media (max-width: 768px) {
    padding: 15px 10px;

    img {
      width: 40px;
      height: 40px;
    }

    h5 {
      font-size: 12px;
      flex-basis: 100%;
      margin-top: 10px;
    }

    aside {
      flex-basis: 100%;
      justify-content: end;
      margin-top: 10px;
      font-size: 12px;
      gap: 10px;

      span {
        font-size: 18px;
      }

      p {
        gap: 10px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    h5 {
      font-size: 11px;
      flex-basis: 100%;
    }

    aside {
      flex-basis: 0%;
      
      span {
        font-size: 18px;
      }
      p {
        display: none;
      }
    }
  }
}
