.viewContainer {
  padding: 21px 0 110px ;
  display: flex;
  flex-direction: column;
  gap: 35px;

  h1 {
    font-family: "Lora-SemiBold";
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    color: #fbfaf8;
    margin: 0;
    padding: 0;
  }
}
