.viewContainer {
  display: flex;
  min-height: 100svh;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: space-between;
  gap: 30px;
  padding: 21px 10px 0;
  // margin: 50px 0 40px;

  .form {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  h1 {
    font-family: "Lora-SemiBold";
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    color: #fbfaf8;
    margin: 0;
    padding: 0;
  }

  .emptyParagraph {
    font-family: "Lora-Regular";
    font-size: 16px;
    font-weight: 600;
    line-height: 26.4px;
    color: #fbfaf8;
  }

  .icon {
    padding: 0 !important;
    text-align: center;
  }
}

/* Адаптивные стили */

@media (max-width: 768px) {
  .viewContainer {
    padding: 15px 5px 60px; /* Уменьшаем отступы сверху и снизу */
    gap: 25px; /* Уменьшаем отступ между элементами */

    .form {
      button {
        height: 45px;
      }
    }

    h1 {
      font-size: 20px; /* Уменьшаем размер заголовка */
      line-height: 24px; /* Уменьшаем высоту строки заголовка */
    }

    .emptyParagraph {
      font-size: 14px; /* Уменьшаем размер параграфа */
      line-height: 21px; /* Уменьшаем высоту строки параграфа */
    }
  }
}

@media (max-width: 480px) {
  .viewContainer {
    padding: 10px 5px 40px; /* Еще уменьшаем отступы */
    gap: 20px; /* Еще уменьшаем отступ между элементами */

    .form {
      button {
        height: 41px;
      }
    }

    h1 {
      font-size: 18px; /* Еще уменьшаем размер заголовка */
      line-height: 22px; /* Еще уменьшаем высоту строки заголовка */
    }

    .emptyParagraph {
      font-size: 13px; /* Еще уменьшаем размер параграфа */
      line-height: 19.5px; /* Еще уменьшаем высоту строки параграфа */
    }
  }
}
