.pagination {
  display: flex;
  align-items: center;
  gap: 10px;

  .paginationArrow {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;

    &:disabled {
      cursor: not-allowed;
      color: #555;
    }

    &:hover:not(:disabled) {
      color: #fff;
    }
  }

  .paginationItem {
    font-family: "Lora-Regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    background: transparent;
    width: 41px;
    height: 39px;
    padding: 10px;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    color: #fbfaf8;
    border: 1px solid #fbfaf8;
    transition: background-color 0.2s, color 0.2s;

    &.active {
      border: none;
      background-color: #23e70a;
      color: #fbfaf8;
    }

    &:hover:not(.active) {
      background-color: #555;
    }
  }
}

/* Адаптивные стили */

@media (max-width: 768px) {
  .pagination {
    gap: 5px; /* Уменьшаем отступ между элементами */
    .paginationArrow {
      font-size: 14px; /* Уменьшаем размер шрифта стрелок */
    }

    .paginationItem {
      font-size: 14px; /* Уменьшаем размер шрифта элементов */
      width: 35px; /* Уменьшаем ширину элементов */
      height: 33px; /* Уменьшаем высоту элементов */
      padding: 6px 10px; /* Уменьшаем отступы элементов */
      line-height: 16.8px; /* Уменьшаем высоту строки элементов */
    }
  }
}

@media (max-width: 480px) {
  .pagination {
    .paginationArrow {
      font-size: 13px; /* Еще уменьшаем размер шрифта стрелок */
    }

    .paginationItem {
      font-size: 13px; /* Еще уменьшаем размер шрифта элементов */
      width: 30px; /* Еще уменьшаем ширину элементов */
      height: 28px; /* Еще уменьшаем высоту элементов */
      padding: 5px 8px; /* Еще уменьшаем отступы элементов */
      line-height: 15.6px; /* Еще уменьшаем высоту строки элементов */
    }
  }
}

/* Добавим адаптивность для очень маленьких экранов */
@media (max-width: 360px) {
  .pagination {
    .paginationArrow {
      font-size: 12px;
    }

    .paginationItem {
      font-size: 12px;
      width: 28px;
      height: 26px;
      padding: 4px 6px;
      line-height: 14.4px;
    }
  }
}
