.dropdownContainer {
  // width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: "Lora-Regular";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  color: #fbfaf8;
  background-color: transparent;
  border: 1px solid #fbfaf8;
  overflow: hidden;
  transition: border-color 0.3s;

  &:focus-within {
    border-color: #23e70a; // Подсветка при фокусе на input или списке
  }

  .inputField {
    flex: 1;
    min-height: 32px;
    color: #fbfaf8;
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: #888;
    }
  }

  .dropdownList {
    flex: 1;
    position: relative;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    z-index: 1000;

    /* Для браузеров на базе WebKit (Chrome, Edge, Safari, Opera) */
    &::-webkit-scrollbar {
      width: 10px; /* Ширина вертикального скроллбара */
      height: 10px; /* Высота горизонтального скроллбара */
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* Фон трека */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #23e70a; /* Цвет ползунка */
      border-radius: 5px; /* Скругление */
      border: 10px solid transparent; /* Отступ между ползунком и треком */
    }

    /* Для Firefox */
    & {
      scrollbar-width: thin; /* Узкий ползунок */
      scrollbar-color: #23e70a transparent; /* Цвет: ползунок и фон */
    }

    /* Для обеспечения единообразного результата */
    &::-webkit-scrollbar-corner {
      background-color: transparent; /* Углы для скроллбара (в случае двух осей) */
    }

    .option {
      padding: 10px;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover:not(.emptyItem),
      &.optionActive {
        border-radius: 5px;
        background-color: #23e70a;
        color: #fbfaf8;
      }
    }

    .emptyItem {
      color: #888;
      cursor: default;
    }
  }

  .hidden {
    display: none;
  }
}
