.searchForm {
  height: 28px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;

  svg{
    width: 24px;
    height: 24px;
  }

  input {
    width: 320px;
    height: 28px;
    outline: none;
    font-family: "Lora-Regular";
    font-size: 18px;
    font-weight: 600;
    line-height: 23.04px;
    padding: 10px 15px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #9f9f9f;
    background: transparent;
    color: #fbfaf8;
    transition: 0.2s all ease-in;

    &:hover,
    &:focus {
      box-shadow: 0px 20px 45px 0px #21222740;
    }
  }
}

/* Адаптивные стили */

@media (max-width: 768px) {
  .searchForm {
    svg{
      width: 20px;
      height: 20px;
    }
    input {
      width: 280px; /* Уменьшаем ширину ввода */
      font-size: 16px; /* Уменьшаем размер шрифта */
      padding: 8px 12px; /* Уменьшаем отступы */
      line-height: 20px; /* Уменьшаем высоту строки */
    }
  }
}

@media (max-width: 480px) {
  svg{
    width: 18px;
    height: 18px;
  }
  .searchForm {
    input {
      width: 90%; /* Занимаем 90% ширины экрана */
      font-size: 14px; /* Еще уменьшаем размер шрифта */
      padding: 6px 10px; /* Еще уменьшаем отступы */
      line-height: 18px; /* Еще уменьшаем высоту строки */
    }
  }
}

/* Добавим адаптивность для очень маленьких экранов */
@media (max-width: 360px) {
  .searchForm {
    svg{
      width: 16px;
      height: 16px;
    }
    input {
      font-size: 13px;
      padding: 5px 8px;
      line-height: 16px;
    }
  }
}
