.mainProcessContainer {
  display: flex;
  flex-direction: column;
  padding: 21px 5px 110px;
  gap: 40px;

  .processMeasurementsContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
  }

  .buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;
  }
}

/* Адаптивные стили */

@media (max-width: 768px) {
  .mainProcessContainer {
    padding: 15px 5px 60px; /* Уменьшаем отступы сверху и снизу */
    gap: 30px; /* Уменьшаем отступ между элементами */

    .processMeasurementsContainer {
      flex-direction: column-reverse; /* Изменяем направление на колонку */
      gap: 15px; /* Уменьшаем отступ между элементами */
    }

    .buttons {
      align-items: stretch; /* Растягиваем кнопки на всю ширину */
      gap: 20px; /* Уменьшаем отступ между кнопками */
    }
  }
}

@media (max-width: 480px) {
  .mainProcessContainer {
    padding: 10px 5px 40px; /* Еще уменьшаем отступы */
    gap: 20px; /* Еще уменьшаем отступ между элементами */
    
    .buttons {
      gap: 15px; /* Еще уменьшаем отступ между кнопками */
    }
  }
}
