.mainProcessContainer {
  display: flex;
  flex-direction: column;
  padding: 21px 0 110px;
  gap: 40px;

  .processMeasurementsContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
  }

  .buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 30px;
  }
}
