.customTable {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
  font-family: "Arial", sans-serif;

  th,
  td {
    padding: 10px;
    text-align: left;
  }

  thead {

    th {
      font-family: "Lora-SemiBold";
      font-size: 16px;
      font-weight: 600;
      line-height: 21.6px;
      color: #fbfaf8;
    }
  }
}
