.dropdownContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: "Lora-Regular";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  color: #fbfaf8;
  background-color: transparent;
  border: 1px solid #fbfaf8;
  overflow: hidden;
  transition: border-color 0.3s;
  
  &.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; // Расстояние между стрелками и текстом

    .optionWrapper {
      flex: 1;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      position: relative;
      overflow: hidden;
    }
    
    .optionText {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.2s ease, transform 0.4s ease;
      opacity: 1;
      transform: translateX(0) scale(1);
    }
    
    .optionText.exit-left {
      opacity: 0;
      transform: translateX(-100%) scale(0.8);
    }
    
    .optionText.exit-right {
      opacity: 0;
      transform: translateX(100%) scale(0.8);
    }
    
    .optionText.enter-left {
      opacity: 0;
      transform: translateX(-100%) scale(1.2);
      animation: enterFromLeft 0.4s forwards;
    }
    
    .optionText.enter-right {
      opacity: 0;
      transform: translateX(100%) scale(1.2);
      animation: enterFromRight 0.4s forwards;
    }
    
    @keyframes enterFromLeft {
      to {
        opacity: 1;
        transform: translateX(0) scale(1);
      }
    }
    
    @keyframes enterFromRight {
      to {
        opacity: 1;
        transform: translateX(0) scale(1);
      }
    }
  }
  
  

  &:focus-within {
    border-color: #23e70a; // Подсветка при фокусе на input или списке
  }

  .inputField {
    flex: 1;
    min-height: 32px;
    color: #fbfaf8;
    background-color: transparent;
    border: none;
    outline: none;
    // text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;

    &::placeholder {
      color: #888;
    }

    &.transitioning {
      transform: translateX(-30px);
      opacity: 0;
    }

    &:not(.transitioning) {
      transform: translateX(0); // Возврат к нормальному состоянию
      opacity: 1;
    }
  }

  .dropdownList {
    flex: 1;
    position: relative;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    z-index: 1000;

    /* Для браузеров на базе WebKit (Chrome, Edge, Safari, Opera) */
    &::-webkit-scrollbar {
      width: 10px; /* Ширина вертикального скроллбара */
      height: 10px; /* Высота горизонтального скроллбара */
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* Фон трека */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #23e70a; /* Цвет ползунка */
      border-radius: 5px; /* Скругление */
      border: 10px solid transparent; /* Отступ между ползунком и треком */
    }

    /* Для Firefox */
    & {
      scrollbar-width: thin; /* Узкий ползунок */
      scrollbar-color: #23e70a transparent; /* Цвет: ползунок и фон */
    }

    /* Для обеспечения единообразного результата */
    &::-webkit-scrollbar-corner {
      background-color: transparent; /* Углы для скроллбара (в случае двух осей) */
    }

    .option {
      padding: 10px;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover:not(.emptyItem),
      &.optionActive {
        border-radius: 5px;
        background-color: #23e70a;
        color: #fbfaf8;
      }
    }

    .emptyItem {
      color: #888;
      cursor: default;
    }
  }

  .hidden {
    display: none;
  }

  .horizontalWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
