.listContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 8px 4px 12px 4px;
    overflow-x: auto;
  }
  
  /* Адаптивные стили */
  
  @media (max-width: 768px) {
    .listContainer {
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
      gap: 20px;
      padding-bottom: 0;
    }
  }