/**/
@font-face{
    font-family: 'Lora-Regular';
    src: url('./Lora-Regular.ttf');
    font-size: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Lora-Medium';
    src: url('./Lora-Medium.ttf');
    font-size: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Lora-SemiBold';
    src: url('./Lora-SemiBold.ttf');
    font-size: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Lora-Bold';
    src: url('./Lora-Bold.ttf');
    font-size: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Lora-Italic';
    src: url('./Lora-Italic.ttf');
    font-size: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'Lora-BoldItalic';
    src: url('./Lora-BoldItalic.ttf');
    font-size: normal;
    font-weight: normal;
}
