.userParamsContainer {
  flex: 0.5;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background: #212227;
  gap: 20px;
  border: 1px solid #fbfaf8;
  border-radius: 20px;
  font-family: "Lora-Regular";
  color: #fbfaf8;

  h1 {
    text-align: center;
    flex: 1;
    font-family: "Lora-SemiBold";
    font-size: 20px;
    font-weight: 600;
    line-height: 26.4px;
    background: transparent;
    padding: 10px 20px;
    border: 1px solid #fbfaf8;
    border-radius: 10px;
  }

  .rowOption {
    flex: 1;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    span {
      flex: 0.8;
      display: flex;
      align-items: center;
      justify-content: center;
      //   height: 32px;
      padding: 10px;
      border: 1px solid #fbfaf8;
      border-radius: 10px;

      &.greenBorder {
        border-color: #23e70a;
        color: #23e70a;
      }
    }
  }

  .columnOption {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;

    span {
      min-height: 117px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Lora-Regular";
      font-size: 50px;
      font-weight: 600;
      line-height: 60px;
      padding: 10px;
      border: 1px solid #fbfaf8;
      color: #23e70a;
      border-radius: 10px;

      &.greenBorder {
        border-color: #23e70a;
        color: #23e70a;
      }
    }
  }
}
