.tableRow {
  border-bottom: 1px solid #444; // Нижняя граница строки
  transition: .5s all ease;

  &:last-child {
    border-bottom: none; // Убираем последнюю границу
  }

  &:hover {
    background: #5b5d63b8;
    color: #23e70a;

    td {
      .tableIndex,
      .deviceButton {
        color: #23e70a;
        border-color: #23e70a;
      }
    }
  }

  td {
    .tableIndex {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      border-radius: 10px;
      border: 1px solid #fbfaf8;
      color: #fbfaf8;
    }

    .deviceButton {
      border: 1px solid #fbfaf8;
      text-align: center;
      padding: 8px;
      border-radius: 10px;
      color: #fbfaf8;
      cursor: pointer;
    }
  }
  .icon {
    padding: 0 !important;
    text-align: center;
  }
}
