.scopeInputcontainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-family: "Lora-Regular";
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    color: #fbfaf8;
  }
}
