.userParamsContainer {
  flex: 0.5;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background: #212227;
  gap: 20px;
  border: 1px solid #fbfaf8;
  border-radius: 20px;
  font-family: "Lora-Regular";
  color: #fbfaf8;

  h1 {
    text-align: center;
    flex: 1;
    font-family: "Lora-SemiBold";
    font-size: 20px;
    font-weight: 600;
    line-height: 26.4px;
    background: transparent;
    padding: 10px 20px;
    border: 1px solid #fbfaf8;
    border-radius: 10px;
  }

  .rowOption {
    flex: 1;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    span {
      max-width: 200px;
      flex: 0.8;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 10px;
      border: 1px solid #fbfaf8;
      border-radius: 10px;

      &.greenBorder {
        border-color: #23e70a;
        color: #23e70a;
      }
    }
  }

  .columnOption {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;

    p {
      min-height: 117px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-family: "Lora-Regular";
      font-size: 50px;
      font-weight: 600;
      line-height: 60px;
      padding: 10px;
      border: 1px solid #fbfaf8;
      color: #23e70a;
      margin: 0;
      border-radius: 10px;

      &.greenBorder {
        border-color: #23e70a;
        color: #23e70a;
      }

      .liveIndicator {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14pt;
        top: 0;
        left: 20px;
        color: red;

        &::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: red;
        }
      }

      .liveStatus {
        --color: #23e70a;
        animation: pulseLive 1.5s infinite ease-in-out;
      }

      .liveIndicator.liveStatus {
        --color: red;
        animation: pulseLive 1.5s infinite ease-in-out;
      }

      @keyframes pulseLive {
        0%,
        100% {
          opacity: 1;
          text-shadow: 0 0 30px var(--color), 0 0 20px var(--color);
        }
        50% {
          opacity: 0.6;
          text-shadow: 0 0 30px var(--color);
        }
      }
    }
  }
}

/* Адаптивные стили (только размеры шрифта) */

@media (max-width: 768px) {
  .userParamsContainer h1 {
    font-size: 18px; /* Уменьшаем размер заголовка */
    line-height: 24px; /* Уменьшаем высоту строки заголовка */

    .rowOption span {
      font-size: 14px; /* Уменьшаем размер шрифта элемента строки */
    }

    .columnOption p {
      font-size: 40px; /* Уменьшаем размер числа */
      line-height: 48px; /* Уменьшаем высоту строки числа */
    }

    .columnOption {
      p {
        .liveIndicator {
          font-size: 12pt; /* Уменьшаем размер индикатора */
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .userParamsContainer h1 {
    font-size: 16px; /* Еще уменьшаем размер заголовка */
    line-height: 20px; /* Еще уменьшаем высоту строки заголовка */
    .rowOption {
      span {
        font-size: 13px; /* Еще уменьшаем размер шрифта элемента строки */
      }
    }

    .columnOption {
      p {
        font-size: 30px; /* Еще уменьшаем размер числа */
        line-height: 36px; /* Еще уменьшаем высоту строки числа */
      }
    }

    .columnOption {
      p {
        .liveIndicator {
          font-size: 10pt; /* Еще уменьшаем размер индикатора */
        }
      }
    }
  }
}
